html {
  font-size: 20px
}

body {
	font-family: 'Josefin Slab', serif;
	color: black;
}

h1 {
	font-weight: bold;
	font-size: 6em;
}

h2 {
  font-size: 1.8em;
}

form {
  float: right;
  width: 35em;
}

input {
  vertical-align: top;
  display: inline-block;
  background-color: #ffffff;
  opacity: 0.6;
  color: #CC5200;
  border: solid 2px #CC5200;
  padding: .3em;
  appearance: none;
  height: 2em;
  font-size: 1.3em;
}

input[type="text"] {
  width: 80%;
  min-width: 18.7em;
}

input[type="submit"] {
  right: 0px;
}

input[type="submit"]:hover {
  color: #4AA3BA;
  background-color: #ffffff;
  opacity: 0.6;
  border: solid 2px #4AA3BA;
}

.c {
	color: #CC5200;
}

.down {
  padding-top: 2%;
  position: relative; 
}

.down:after {
  content: "";
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
  bottom: 0;
  display: block;
  height: 2em;
  left: 50%;
  margin-left: -2em;
  position: absolute;
  width: 4em;
}

.down:before {
  content: "";
  border-color: #CC5200;
  border-style: solid;
  border-width: 0 .5em .5em 0;
  bottom: .2em;
  display: block;
  height: 2em;
  left: 50%;
  margin-left: -.75em;
  position: absolute;
  transform: rotate(45deg);
  width: 2em;
  z-index: 1;
} 

#intro {
	padding: 4em 8em;
	color: white;
	height: 40em;
	background:
	  linear-gradient(
	    rgba(0, 0, 0, 0.5), 
	    rgba(0, 0, 0, 0.5)
	  ),
	  url(http://graphics8.nytimes.com/newsgraphics/2015/07/10/nola/assets/images/ward3-1254.jpg);
	  background-position: bottom;
	  background-size: 100% auto;
	  background-repeat: no-repeat;
}

.call-to-action {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	padding-top: 2%;
	padding-bottom: 2%;
}

#stories {
	margin-top: 1.5em;
}

a {
	color: #4AA3BA;
}

a:hover {
	color: #306D75;
}

.story {
	border: 1px solid black;
	border-radius: 1em;
	padding: 1em;
	margin: .5em 0;
}

.headline {
	font-size: 26px;
	font-weight: bold;
}

.lead {
	font-size: 18px;
}

.keywords {
	font-size: 14px;
	font-style: italic;
}

.get-involved {
	font-size: 14px;
}

button {
  height: 3em;
  margin: 0em 0em 0 4em;
  padding: .3em;
  font-size: 20px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

button:focus {
  outline: none
}

section.border {
  display: inline-block;
  margin-bottom: 2em;
}

section.border button {
  color: #CC5200;
  background: #ffffff;
  border: solid 2px #CC5200;
}
section.border button:hover {
  color: #4AA3BA;
  background: #ffffff;
  border: solid 2px #4AA3BA;
}

@media screen and (max-width: 848px) {

  html {
    font-size: 18px;
  }

  form {
    width: 100%;
  }

  input {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1.6em;
  }

  .call-to-action {
    font-size: 1.6em;
  }

  #intro {
    color: white;
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
      url(http://graphics8.nytimes.com/newsgraphics/2015/07/10/nola/assets/images/ward3-1254.jpg);
      background-size: auto 100%;
      background-repeat: no-repeat;
  }
}

@media screen and (max-width: 691px) {
  html {
    font-size: 16px;
  }

  #intro {
    padding: 4em 3em;
  }

  h1 {
    font-size: 4em;
  }

  form {
    right: 0px;
  }

  input {
    font-size: 1.2em;
  }

  input[type="submit"] {
    margin-bottom: .5em;
  }

  h2 {
    font-size: 1.4em;
  }

  .call-to-action {
    margin-bottom: .5em;
  }
}



