<div id="intro">
	<form method='post' action=''>
	<h1>CauseConnect</h1>
	<h3>CauseConnect identifies actionable steps for people looking to help with problems covered in the media.</h3><br>

	CauseConnect 
	<h4>For each article covering a crisis, disaster, or cause, CauseConnect suggests ways that you can help by linking you to organizations and charities tackling the problem.</h4>

</div>
<br>
<div class='container'>
	<h2>Here's how you can help</h2><br><br>
	<div class='row'>		
	<div class="col-md-4">
		<div class="story">
			<div class='headline'>Test title 1</div>
			<div class='lead'>Test content 1</div>
			<div class='keywords'>Test keywords 1</div>
			<div class='get-involved'>Test charities 1</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="story">
			<div class='headline'>Test title 2</div>
			<div class='lead'>Test content 2</div>
			<div class='keywords'>Test keywords 2</div>
			<div class='get-involved'>Test charities 2</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="story">
			<div class='headline'>Test title 3</div>
			<div class='lead'>Test content 3</div>
			<div class='keywords'>Test keywords 3</div>
			<div class='get-involved'>Test charities 3</div>
		</div>
	</div>
</div>
	<div class='row'>		
	<div class="col-md-4">
		<div class="story">
			<div class='headline'>Test title 4</div>
			<div class='lead'>Test content 4</div>
			<div class='keywords'>Test keywords 4</div>
			<div class='get-involved'>Test charities 4</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="story">
			<div class='headline'>Test title 5</div>
			<div class='lead'>Test content 5</div>
			<div class='keywords'>Test keywords 5</div>
			<div class='get-involved'>Test charities 5</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="story">
			<div class='headline'>Test title 6</div>
			<div class='lead'>Test content 6</div>
			<div class='keywords'>Test keywords 6</div>
			<div class='get-involved'>Test charities 6</div>
		</div>
	</div>
</div>
</div>