<div id="intro">
	<form method='post' action=''>
	<h1><span class="c">C</span>ause<span class="c">C</span>onnect</h1>
	<h3>CauseConnect identifies actionable steps for people looking to help with problems covered in the media.<br><br>
	For each article covering a crisis, disaster, or cause, CauseConnect suggests ways that you can help by linking you to organizations and charities tackling the problem.</h3>
	<div class="call-to-action">Here's how you can help</div>
	<a href="#stories"><div class='down'></div></a>

</div>
<br>
<div class='container'>
	<div id='stories'>
	<div class='row'>		
		
	</div>
	</div>
</div>